<% layout('/layouts/boilerplate') %>
<p>
    <form action="/books" method="GET" class="form-inline mt-3">
        <div class="form-group">
            <input type="text" name="search" class="form-control mb-3" placeholder="Search Books..." value="<%= search %>">
            <div class="text-center">
                <button class="btn btn-success">Search</button>
            </div>
        </div>
    </form>
</p>
<div class="row mt-5 mb-3">
    <div class="col text-center">
        <h1 class="display-4">New Arrival</h1>
    </div>
    <div class="col text-center">
        <h1 class="display-4">Trending</h1>
    </div>
</div>
<div class="row">
    <div class="col-6"><% paginatedBooks.forEach(book => { %>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4 p-4">
                    <% if (book.images.length) { %>
                        <img src="<%= book.images[0].url %>" alt="" class="img-fluid" width="300px">
                    <% } else { %>
                        <img src="https://res.cloudinary.com/dqeaomlck/image/upload/v1719638738/Furniture/photo-1567016432779-094069958ea5_hzfaa0.avif" alt="" class="img-fluid" width="100%" height="auto">
                    <% } %>
                </div>
                <div class="col-md-8 p-4">
                    <span class="d-flex justify-content-between mb-2">
                        <h5 class="card-title mt-2"><%= book.title %></h5>
                    </span>
                    <span class="d-flex justify-content-between mb-2">
                        <small class="text-muted"><%= book.author %> | Published: <%= new Date(book.publishDate).getFullYear() %></small>
                    </span>
                   
                    <p class="card-text book-desc"><%= book.description %></p>
                <script>
                    document.addEventListener("DOMContentLoaded", function() {
                        var elements = document.querySelectorAll(".book-desc");
                        elements.forEach(function(element) {
                            var text = element.textContent;
                            if (text.length > 150) {
                                var truncated = text.substring(0, 150) + "...";
                                element.textContent = truncated;
                            }
                        });
                    });
                </script>
                    
                </div>
            </div>
            <a href="/books/<%= book._id %>" class="stretched-link"></a>
        </div>
    <% }); %>
    </div>
    <div class="col-6">
        <% paginatedBooks.forEach(book => { %>
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-4 p-4">
                        <% if (book.images.length) { %>
                            <img src="<%= book.images[0].url %>" alt="" class="img-fluid" width="300px">
                        <% } else { %>
                            <img src="https://res.cloudinary.com/dqeaomlck/image/upload/v1719638738/Furniture/photo-1567016432779-094069958ea5_hzfaa0.avif" alt="" class="img-fluid" width="100%" height="auto">
                        <% } %>
                    </div>
                    <div class="col-md-8 p-4">
                        <span class="d-flex justify-content-between mb-2">
                            <h5 class="card-title mt-2"><%= book.title %></h5>
                        </span>
                        <span class="d-flex justify-content-between mb-2">
                            <small class="text-muted"><%= book.author %> | Published: <%= new Date(book.publishDate).getFullYear() %></small>
                        </span>
                        <p class="card-text book-desc"><%= book.description %></p>
                <script>
                    document.addEventListener("DOMContentLoaded", function() {
                        var elements = document.querySelectorAll(".book-desc");
                        elements.forEach(function(element) {
                            var text = element.textContent;
                            if (text.length > 150) {
                                var truncated = text.substring(0, 150) + "...";
                                element.textContent = truncated;
                            }
                        });
                    });
                </script>
                        
                    </div>
                </div>
                <a href="/books/<%= book._id %>" class="stretched-link"></a>
            </div>
        <% }); %>
        
    </div>
    <!-- Pagination Controls -->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <% if (pagination.previous) { %>
                <li class="page-item">
                    <a class="page-link" href="/books?page=<%= pagination.previous %>&search=<%= search %>" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            <% } %>
            <% for (let i = 1; i <= totalPages; i++) { %>
                <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                    <a class="page-link" href="/books?page=<%= i %>&search=<%= search %>"><%= i %></a>
                </li>
            <% } %>
            <% if (pagination.next) { %>
                <li class="page-item">
                    <a class="page-link" href="/books?page=<%= pagination.next %>&search=<%= search %>" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            <% } %>
        </ul>
    </nav>
</div>