<% layout('/layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/stars.css">
    <div class="row">
        <div class="col-6">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <% book.images.forEach((img, i)=>{ %>
                        <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
                            <img src="<%= img.url %>" class="d-block" width="250px" style="max-height: 300px;" alt="">
                        </div>
                        <% }) %>
                </div>
                <% if (book.images.length> 1){%>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                    <% } %>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= book.title %>
                    </h5>
                    <span class="d-flex justify-content-between mb-2">
                        <small class="text-muted"><%= book.author %> | Published: <%= new Date(book.publishDate).getFullYear() %> | <span><%= (book.categories.length ? book.categories[0] : 'No genre availale' )%></span></small>
                    </span>
                    <p class="card-text">
                        <%= book.description %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>ISBN: </strong><%= book.isbn %>
                    </li>
                    <li class="list-group-item"> <strong>Price:</strong> ₹<%= book.price %>
                    </li>
                    <li class="list-group-item"> <strong>Available quantity:</strong> <%= book.quantity %>
                    </li>
                    <li class="list-group-item">
                        <div class="input-group w-100">
                            <% if(book.quantity > 0){ %>
                                <form class="d-flex flex-column w-100" action="/books/<%= book._id %>/checklist"
                                    method="POST">
                                    <div class="d-flex mb-2">
                                        <label for="date" class="form-label w-50 col align-self-end">Select Rent Start
                                            Date</label>
                                        <input type="date" class="form-control w-50" placeholder="0" aria-label="date"
                                            name="date" aria-describedby="date" required>
                                    </div>

                                    <div class="d-flex mb-2">
                                        <label for="quantity" class="form-label w-50 col align-self-end">Number of
                                            Days</label>
                                        <input type="number" class="form-control w-50" placeholder="0" aria-label="quantity"
                                            name="quantity" aria-describedby="quantity" required>
                                    </div>
                                    <div class="d-flex justify-content-center mt-2">
                                        <button class="btn btn-outline-success" type="submit">Book</button>
                                    </div>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </form>
                                <% } else { %>
                                    <div class="d-flex justify-content-center">
                                        <button class="btn btn-outline-danger" disabled>Out of Stock</button>
                                    </div>
                                    <% }
                                %>
                        </div>

                    </li>
                </ul>
                <% if(currentUser.id === '667fa931b0438f0e72d2ca80'){ %>
                    <div class="card-body">
                        <a class="card-link btn btn-primary" href="/books/<%= book._id %>/edit">Edit</a>
                        <form class="d-inline" action="/books/<%= book._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete Book</button>
                        </form>
                    </div>
                    <% } %>
                        <div class="card-footer text-muted">
                            2 days ago
                        </div>
            </div>

        </div>
        <div class="col-6">
            <% if(currentUser){ %>
                <h2>Leave a Review</h2>
                <form action="/books/<%= book._id %>/reviews" method="POST" class="mb-3 validated-form" novalidate>
                    <div class="mb-3">
                        <fieldset class="starability-basic">
                            <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1"
                                checked aria-label="No rating." />
                            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                            <label for="first-rate1" title="Terrible">1 star</label>
                            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                            <label for="first-rate2" title="Not good">2 stars</label>
                            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                            <label for="first-rate3" title="Average">3 stars</label>
                            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                            <label for="first-rate4" title="Very good">4 stars</label>
                            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                            <label for="first-rate5" title="Amazing">5 stars</label>
                        </fieldset>

                        <label class="form-label" for="body">Review Text</label>
                        <textarea class="form-control" name="review[body]" id="body" cols="30" rows="5"
                            required></textarea>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>

                    <button class="btn btn-success">Submit</button>
                </form>
                <% } %>
                    <% for (let review of book.reviews){ %>
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= review.author.username %>
                                </h5>
                                <p class="starability-result" data-rating="<%= review.rating %>">
                                    Rated: <%= review.rating %> stars
                                </p>
                                <p class="card-text">
                                    <%= review.body %>
                                </p>
                                <% if(currentUser.username == review.author.username){ %>
                                    <form action="/books/<%= book._id %>/reviews/<%=review._id %>?_method=DELETE"
                                        method="POST">
                                        <button class="btn btn-sm btn-danger">Delete</button>
                                    </form>
                                    <% } %>

                            </div>
                        </div>
                        <% } %>
        </div>
    </div>
